<footer class="footer">
  <div class="footer-elements">
    <h4>Criado por: Gustavo Davi Alberico</h4>
    <p>Links:</p>
    <a href="https://github.com/Gustavo-Alberico">GitHub</a>
    <a href=" www.linkedin.com/in/gustavo-davi-alberico">Linkedin</a>
  </div>
</footer>
