<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Styles CSS -->
<link rel="stylesheet" href="/css/_nav.css" />
<link rel="stylesheet" href="/css/_style.css" />
<link rel="stylesheet" href="/css/_footer.css" />

<link rel="shortcut icon" href="/img/car.ico" type="image/x-icon" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>

<title>Find Vehicle</title>
