<header>
  <nav class="nav">
    <div class="menu-logo-container">
      <a href="/">
        <h1>
          <span class="color-text">F</span>ind
          <span class="color-text">V</span>ehicle<span class="color-text"
            >_</span
          >
        </h1>
      </a>
    </div>
    <div class="menu-link-container">
      <ul class="menu-link">
        <li><a href="/veiculo">Cadastrar</a></li>
        <li><a href="/listagem">Listagem</a></li>
        <li><a class="special-link" href="/reserva">Reservar</a></li>
      </ul>
    </div>
  </nav>
</header>
