<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/_list.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <section class="container-tabs">
      <div class="tab">
        <a class="tabLink active" href="#" onclick="selectTab(event)"
          >Reservas</a
        >
        <a class="tabLink" href="#" onclick="selectTab(event)">Veículos</a>
      </div>
    </section>
    <section class="main-container">
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card-body">
          <h1 class="card-title">Reserva</h1>
          <div class="card-date">
            <p>Datas</p>
            <p>Início: 14/10/2021 10:00:00</p>
            <p>Fim: 14/10/2021 10:00:00</p>
          </div>
          <div class="card-vehicle">
            <p>Veículo</p>
            <p>Modelo: Volkswagen GOL</p>
            <p>Placa: ERT-2020</p>
          </div>
          <div>
            <a href="#" class="card-link">CONFIRMAR</a>
            <a href="#" class="card-link">CANCELAR</a>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/scripts/list.js"></script>
</html>
