.container-tabs,
.tab,
.main-container,
.card-body,
.card-container,
.title-container {
  display: flex;
}
.main-container {
  align-items: center;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
}
.card-container {
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 300px;
}
.card-body {
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 15px;
  justify-content: center;
}
.title-container {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #964ca8;
}
.card-title {
  margin: 0px 0 10px 5px;
  color: #964ca8;
}
.status {
  color: #990d0d;
}
.statusC {
  color: #9eff6a;
}
.card-vehicle {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.card-body p {
  text-align: center;
  margin-top: 15px;
}
.card-date {
  margin-top: 15px;
  padding: 5px;
  /* border: 1px solid #542b55; */
  background-color: #bb63d1;
  color: #ffffff;
  border-radius: 8px;
}
.card-date p {
  padding: 5px 0;
}
.accordion {
  background-color: #bb63d1;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #563c6b;
}
.accordion:after {
  content: '\002B';
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: '\2212';
}
.panel {
  padding: 0 5px;
  background-color: #563c6b;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
}
