.container-tabs,
.tab,
.main-container,
.card-body,
.card-container {
  display: flex;
}
.container-tabs {
  margin: 10px 15px 0px 15px;
}
.tab a {
  background-color: #ffffff;
  padding: 10px 15px;
  margin: 0px 2px;
  color: #000000;
  transition: all ease-in 0.3s;
  border-bottom: 2px solid #ffffff;
}
.tab .active {
  background-color: #5f5f5f;
  color: #ffffff;
  border-bottom: 2px solid #bb54d4;
}
.main-container {
  flex-wrap: wrap;
  justify-content: start;
  background-color: #5f5f5f;
}
.card-container {
  border-radius: 8px;
  margin: 10px;
  justify-content: center;
  background-color: #7640da;
  width: 250px;
  height: 250px;
}
.card-body {
  flex-direction: column;
  margin: 2px;
  border-radius: 8px;
  background-color: #d6d6d6;
  width: 100%;
}
.card-title {
  padding: 5px;
  margin-bottom: 10px;
  color: #964ca8;
}
.card-date {
  padding: 5px;
  margin: 0 0 10px 0;
}
.card-vehicle {
  padding: 5px;
  margin: 0 0 10px 0;
}
